.brands{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divBrands{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.divBrands h2{
    font-size: 2rem;
    font-weight: 600;    
}

.logotipos{
    display: flex;
    justify-content: space-around;
}

img{
    width: 3%;
    cursor: pointer;
    object-fit: cover;
    overflow: visible;
    transition: transform 350ms;
}
img:hover{

 transform: scale(1.5);
}